$color-blue: #1D5FF2;
$color-yellow: #F5F316;
$color-gold: #EAC726;
$color-red: #FC2426;
$color-black: black;
$color-white: white;

$font-main: 'Nunito', sans-serif;

$font-xs: 12px;
$font-s: 16px;
$font-m: 24px;
$font-l: 36px;
$font-xl: 48px;