$color-blue: #1D5FF2;
$color-blue-sea: lightseagreen;
$color-blue-sky: lightskyblue;
$color-yellow: #F5F316;
$color-gold: #EAC726;
$color-red: #FC2426;
$color-red-fire: rgb(211, 61, 2);
$color-black: black;
$color-white: white;
$color-grey: grey;
$color-grey-light: #D3D3D3;
$color-purple: purple;
$color-green: rgb(34, 230, 34);
$color-green-dark: darkgreen;

$font-main: 'Nunito', sans-serif;

$font-xs: 12px;
$font-s: 16px;
$font-m: 24px;
$font-l: 36px;
$font-xl: 48px;