@import '../../stylesheets/variables';

.pokedexApp {
  background: $color-yellow;
  min-height: 100vh;
  font-family: $font-main;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  .main{
    flex-grow: 1;
  }
}